
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1E293B;

}

#content_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 70%;
    width: 40%;
    gap:40px;
    color: white;
}

#searchbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}
#searchbar{
    width: 70%;
    height: 100%;
    font-size: 20px;
    color:white;
    border-radius: 15px;
    background-color: #1E293B;
}
#searchbar_container input{
    border: 1px solid white;
    outline: none;
}
#searchbar_container input::placeholder{
    color:white;
}
#search_btn{
    width: 20%;
    height: 100%;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #FACC15;
}
#search_btn:hover{
    cursor: pointer;
}
#data_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 80%;
    width:100%;
    color: #fffefe;
}

#temp_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #747780;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    height: 40%;
    width: 100%;
    border-radius: 15px;

}
#temp_left_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    border-radius: 15px;
}
#temperature_container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 70%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 70px;
}
#temperature_text_container{
    margin-left: 40px;
    margin-top: 30px;
}
#location_container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
}
#location_text_container{
    margin-left: 40px;
}
#temp_right_container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    margin-left: 100px;
}

#forecast_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
    background-color: #71757f;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

}
#forecast_temp_container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#forecast_icon_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#forecast_day_container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

